# Vercel
.vercel

# Next.js build output
.next/
out/
next-env.d.ts
*.tsbuildinfo

# Screenshots written by scripts/screenshot.mjs
.shots/

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Env
.env
.env.*
!.env.example

# OS / editor
.DS_Store
Thumbs.db
desktop.ini
*.swp
.idea/
.vscode/
